<script>
    const {ipcRenderer, app} = require("electron");
    var conf = localStorage.getItem("config");
    var data = conf ? JSON.parse(conf) : {};
    var log = [];
    var error = "";
    var message = "";
    var messageTimer = null;
    let dialog = {};
    let version = null;

    ipcRenderer.send("version");
    // ipcRenderer.on("loadData", (e, stuff) => {
    //     data = stuff;
    // })
    //ipcRenderer.send("loadConfig")

    async function setPatchPath() {

        ipcRenderer.send("dialog", "patchPath", data["patchPath"]);


    }

    async function setOriginalPath() {
        ipcRenderer.send("dialog", "originalRomPath", data["originalRomPath"], true);
    }

    async function setSavePath() {
        ipcRenderer.send("dialog", "savePath", data["savePath"]);
    }


    function startPatching() {
        if(data.patchPath && data.savePath && data.originalRomPath) {
            error = "";
            log = [];
            ipcRenderer.send("startPatch", data)
        } else {
           error = "Not all Configs have been set";
        }


    }

    ipcRenderer.on("version", (evt, value) => {
        version = "(Version: "+value+")";
    })

    ipcRenderer.on("debug", (evt, ...data) => {
        console.log(data);
    })

    ipcRenderer.on("log", (evt, data) => {
        log = [...log, data];

    })

    ipcRenderer.on("dialogFinish", (evt, channel, value)=> {
        console.log("PATCH", value);
        data[channel] = value;
    })


    function saveData() {
        if(messageTimer) {
            clearTimeout(messageTimer);
        }
        console.log("Save Data", data);
        localStorage.setItem("config", JSON.stringify(data));
        //ipcRenderer.send("saveConfig", data);
        message = "Config saved!";
        messageTimer = setTimeout(() => {
            message = "";
        }, 2000);

    }

    function erasePath(channel) {
        data[channel] = null;
    }
</script>

<main>
    <h1><img src="olaf.png" width="100">Saphros SNES BPS Rom Patcher {version || ""}</h1>

    <p>
        <button on:click={setPatchPath}>Patch Path:</button> <br/><span on:dblclick={() => {erasePath("patchPath")}}>{data.patchPath || ""}</span></p>
    <p>
        <button on:click={setOriginalPath}>Original Rom Path:</button> <br/> <span on:dblclick={() => {erasePath("originalRomPath")}}>{data.originalRomPath || ""}</span></p>
    <p>
        <button on:click={setSavePath}>Save Path:</button><br/> <span on:dblclick={() => {erasePath("savePath")}}>{data.savePath|| ""}</span></p>
    <div class="action-buttons">
        <button on:click={saveData}>SAVE</button>
        <button on:click={startPatching}>START Patching</button>
        {#if message}
            <p class="message">{message}</p>
            {/if}
    </div>

    {#if error}
        <p class="error">{error}</p>
        {/if}

    <ul id="log">
        {#each log as line, i}
            <li>{line}</li>
        {/each}
    </ul>
</main>

<style>
    .error {
        color: red;
        font-weight: bold;
    }
    .message {
        color: green;
        font-weight: bold;
    }
    main {
        padding: 1em;
        max-width: 240px;
        margin: 0 auto;
    }

    h1 {
        text-align: center;
    }

    ul {
        max-width: 80vw;
        max-height: 200px;
        height: 200px;
        overflow: auto;
    }

    .action-buttons {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .action-buttons button {
        background: #333333;
        color: white;
    }

    h1 {
        color: #ff3e00;
        text-transform: uppercase;
        font-size: 2em;
        font-weight: 100;
    }

    p, button {
        text-align: left;
        margin: 0;
        margin-top: 0.5em;
        margin-right: 0.5em;
    }

    main {
        max-width: none;
    }

    #log {
      overflow-y: auto;
        overflow-x: hidden;
    }
    img {
        position: absolute;
        left: 0px;
        top: 25px;

    }
</style>
