html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px 20px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

h1 {
	color: #ff3e00;
	text-transform: uppercase;
	font-size: 2em;
	font-weight: 100;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

h2 {
	color: #285aa8;
}
h1 > span {
	height: 100%
	display: inline-block;
}

.logo {
	position: relative;

}
p {
	font-size: 1.2rem;
}
main {
	max-width: 550px;
	margin: auto;
}

a, a:visited {
	color: #3ea929;
	font-weight: bold;
	text-decoration: underline;
}
